# Gradle
.gradle/
build/

# Eclipse
.project
.classpath
.settings/
bin/

# IntelliJ
.idea
*.ipr
*.iml
*.iws

# NetBeans
nb-configuration.xml

# Visual Studio Code
.vscode
.factorypath

# OSX
.DS_Store

# Vim
*.swp
*.swo

# patch
*.orig
*.rej

# Local environment
.env

# The node modules for building the login HTML
login/node_modules

# Files in examples that need to be excluded.
examples/oidc_test/db.sqlite3
examples/oidc_test/oidc_test/__pycache__/
