services:
  web:
    build:
      context: .
      dockerfile: src/main/docker/Dockerfile.jvm
    ports:
      - "8080:8080"
    environment:
      - QUARKUS_DATASOURCE_JDBC_URL=jdbc:postgresql:db:revet-auth
    depends_on:
      db:
        condition: service_healthy
  db:
    build:
      context: ./src/main/docker
      dockerfile: Dockerfile.db
    environment:
      - POSTGRES_USER=revet-auth
      - POSTGRES_PASSWORD=notsecure
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U revet-auth"]
      interval: 5s
      timeout: 5s
      retries: 6
